<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 shadow">
            {%for patient in patients%}
            <div class="card mb-3 mt-5 p-2 " style="max-width: 500px;">
                <div class="row g-0">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Patient Name:</b>{{patient.patient_name}}</h5>
                            <p class="card-text">Doctor:<b>Dr.{{patient.doctor.doctor_name}}</b></p>
                            <p class="card-text text-primary">Age: <b>{{patient.age}}</b>years</p>
                            <p class="card-text">Gender <b><em>{{patient.gender}}</em></b></p>
                            <p class="card-text">Status of appoinment: <b>{{patient.status}}</b></p>
                            <p class="card-text">Booked By: <b>{{patient.user}}</b></p>


                        </div>
                    </div>
                </div>
            </div>

            {%endfor%}
        </div>
        <div class="col-2"></div>
    </div>
</div>


{%endblock%}